section#contact
    .container
        .row
            .col-lg-12.title
                h2 Contact
        .row
            .col-lg-12.text-center
                p
                    |Email: #{contact.email}
                p
                    |Phone: #{contact.phone}

