doctype html
html(lang='en')
    head
        title!='Biesel Co &middot; Freelance Web Development'
        
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='biesel co llc freelance web development')
        meta(name='author', content='Jason Biegel' role='Owner')

        link(href='img/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(href='img/favicon.ico', rel='icon', type='image/x-icon')

        link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        link(href='css/bundle.css', rel='stylesheet')

    body#page-top.index

        include navigation
        include header
        include portfolio
        include footer
        
        include modals
        
        .scroll-top.page-scroll.visible-xs
            a.btn.btn-primary(href='#page-top')
                i.fa.fa-chevron-up

        script(src='js/bundle.js', type='text/javascript')
