section#portfolio
    .container
        .row
            .col-lg-12.title
                h2 Portfolio
        .row
            each project in projects
                .col-sm-6.portfolio-item
                    a.portfolio-link(href='#modal-' + project.id, data-toggle='modal')
                        .caption
                            .caption-content
                                i.fa.fa-search-plus.fa-3x
                        img.img-responsive(src=project.img, alt='')
